<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Document</title>
</head>
<body>
    

    <% const users =  locals.users %>
    <% users.forEach(user => { %>
        <% const userNameArray = Array.from(user.username) %>
        <% const arrayFirstLetter = userNameArray[0].toUpperCase() %>
        <% const arrayFirstLetterMissing = userNameArray.slice(1) %>
        <% arrayFirstLetterMissing.unshift(arrayFirstLetter) %>
        <% const newFinalUserName = arrayFirstLetterMissing.join('') %>
        
        <h1>Hi <%= newFinalUserName %> this is your dashboard</h1>
    <% }); %>
   
</body>
</html